%section.b-what-is-this
  .page-header
    %h1 What is this?
  %p
    Gem contains stylesheets and rails helpers which provides simple way to add useful css snippets to your site,
    see examples for details.

%section.b-installation
  .page-header
    %h1 Installation

  In <strong>Rails 3</strong>, add this to your Gemfile and run the bundle command:
  = code 'Gemfile' do
    gem "css-snippets"

%section.l-justified-container.l-demo-snippet
  .page-header
    %h1 Justified items

  = render_css_snippet :justified_items do
    = item 'Left'
    = item Faker::Lorem.sentence
    = item 'Center'
    = item do
      = Faker::Lorem.sentence
    = item 'Right'

%section.l-two-column-layout.l-demo-snippet
  .page-header
    %h1 Right menu liquid layout

  = render_css_snippet :right_menu_liquid_layout do
    = left_column do
      %p Left column text
      %p= Faker::Lorem.sentences(10).join(' ')

    = right_column do
      %p Right column text
      %p= Faker::Lorem.sentences(3).join(' ')